*{
    box-sizing: border-box;
}
.sidebar-container{
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.5px;
    border: 0px;
}
.sidebar-firstEl{
    margin-top: 10px;
    font-size: 35px;
    color: rgb(138, 43, 226);
}

.sidebar-middleicon{
    margin-top: 51px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    color: rgb(43, 198, 226);
}
.eachicon{
    margin: 10px;
}

.side-power-icon{
    margin-top: 180px;
    margin-bottom: 27px;

}
